
.magenta {
  background-color: magenta;
}

.greenyellow {
  background-color: greenyellow;
}

.orange {
  background-color: orange;
}

.aqua {
  background-color: aqua;
}

.darkgray {
  background-color: darkgray;
}

.brown {
  background-color: brown;
}

.red {
  background-color: red;
}

.blue {
  background-color: cornflowerblue;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.lightgrey {
  background-color: #f1f1f1;
}