body {
  padding: 20px;
  background-color: #f1f1f1;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.item {
  display: flex;
  flex: 1 1 calc(33.33% - 100px);/* отнимаем маргин и растягиваем */
  margin: 30px;
  box-sizing: border-box;/* отсутствие влияния внутреннего отступа на размер (для 3-го бокса)*/
  border: solid 2px grey;
  min-width: 80px;/* минимвльная ширина блока*/
  height: 120px;
  justify-content: center;
  align-items: center;
}
.item:nth-child(1) {
  font: bold 4vw Arial;
  color: tomato;
  background-color: greenyellow;
}
.item:nth-child(2) {
  font: bold 2vw Arial;
  align-items: flex-end;
  color: greenyellow;
  background-color: tomato;
}
.item:nth-child(3) {
  font: bold 2vw Arial;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 10px;
  color: greenyellow;
  background-color: blue;
}
.item:nth-child(4) {
  font: bold 1.5vw Arial;
  justify-content: flex-end;
  color: tomato;
  background-color: aqua;
}
.item:nth-child(5) {
  font: bold 2vw Arial;
  color: magenta;
  background-color: greenyellow;
}
.item:nth-child(6) {
  font: bold 4vw Arial;
  color: greenyellow;
  background-color: tomato;
}
@media all and (max-width: 500px) {
  .flex {
    flex-direction: column;
  }
  .item {
    height: 80px;
    margin: 5px;
  }
  .item:nth-child(1) {
    order: -2;
    font-size: 7vw;
  }
  .item:nth-child(2) {
    align-items: center;
    font: 5vw Arial;
  }
  .item:nth-child(3) {
    justify-content: center;
    align-items: center;
    font: 5vw Arial;
  }
  .item:nth-child(4) {
    order: -1;
    justify-content: center;
    font-size: 4vw;
  }
  .item:nth-child(5) {
    font-size: 4vw;
  }
  .item:nth-child(6) {
    font-size: 7vw;
  }

}